@model API_TURISMO.Models.P_Turistico

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info btn-sm">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
