@model IEnumerable<API_TURISMO.Models.P_Turistico>

@{
    ViewData["Title"] = "Index";
}

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Lista de Pontos Turisticos</h2>
    </div>


    <div class="col-3">
        <a asp-action="Create" class="btn btn-info form-control text-white">Cadastrar Ponto Turístico</a>
    </div>

    <table class="table col-12 border p-3 mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descrição)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrição)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>